* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: #ffffff !important;
  border-bottom: 1px solid #e6e6e6;
}

.sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  background-color: #f8f9fa;
  border-right: 1px solid #e6e6e6;
}

.sidebar ul {
  margin-top: 20px;
}

.nav-item {
  font-size: 15px;
  font-weight: 500;
}

.nav-item i {
  font-size: 16px;
}

.nav-link {
  color: #000000;
}

.nav-link:hover {
  color: #808080;
}

.main-wrapper {
  margin-left: 250px;
  width: 100%;
}

.page-section {
  padding: 20px;
  width: 100%;
}

.employee-table thead {
  color: #808080;
  background-color: #f8f9fa;
}

.profile-img, .profile-general-info, .profile-work-info {
  margin: 0 25px 0 25px;
}

.profile-img i {
  color: #e6e6e6;
  font-size: 140px;
}

.profile-info {
  border-left: 1px solid #fff;
}

.chart-wrapper {
  width: 500px;
  height: 250px;
}

